
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{title}}</h1>
</div>

<button type="button" class="btn btn-primary" (click)="AddTrip()">Добавить владельца</button>

<div class="alert alert-{{notification.type}}" role="alert" *ngIf="notification.show">
    {{notification.notice}}
</div>


<div class="row">
    <table style="width:100%">
        <tr>
            <th>Название</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Юридический адрес</th>
            <th></th>
        </tr>
        <tr *ngFor="let item of items">
            <td>{{item.title}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.legal}}</td>
            <td><a href="#" (click)="Edit($event, item)">редактировать</a></td>
        </tr>
    </table>
</div>
