<div class="filter">
    <mat-checkbox [(ngModel)]="showPipes" (change)="_showPipes()" [value]="showPipes">Показывать трубы</mat-checkbox> &nbsp;
    <mat-checkbox [(ngModel)]="showPoints" (change)="_showPoints()"  [value]="showPoints">Показывать инфраструктуру</mat-checkbox> &nbsp;
    <mat-checkbox [(ngModel)]="showSensors" (change)="_showSensors()"  [value]="showSensors">Показывать датчики</mat-checkbox>
</div>
<div id="map"></div>