<h3 class="display-4">Do you really want to delete?</h3>
<p class="lead">There is no undo button. so you can't restore deleted data</p>
<hr class="my-4">
<button type="button" class="btn btn-danger" (click)="Yes()">Delete</button>
or 
<button type="button" class="btn btn-success" (click)="No()">Keep</button>