<div class="container">
    <div class="row">
        <div class="col-sm">
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
            {{error}}
          </div>
        <form  [formGroup]="modifyForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Название</label>
            <input type="text"  formControlName="title" class="form-control" id="title" required placeholder="Введите название">
          </div>
          <div class="form-group">
            <label for="code">Код</label>
            <input type="text" formControlName="code" class="form-control" id="code" required placeholder="Введите код">
          </div>
          <div class="form-group">
            <label for="comment">Комментарий</label>
            <input type="text" formControlName="comment" class="form-control" id="comment"placeholder="Комментарий">
          </div>
          <div class="form-group">
            <label for="fields">Поля для заполнения</label>
            <textarea formControlName="fields" class="form-control" id="fields" aria-describedby="fieldsHelp" required placeholder="Введите поля"></textarea>
            <small id="fieldsHelp" class="form-text text-muted">Поля в формате [!|@|#|$]title:value,value1,value2</small>
          </div>
          <button type="submit" class="btn btn-primary">{{isnew ? 'Добавить' : 'Отредактировать'}}</button>
        </form>        
      </div>
  </div>
</div>