<div class="container">
    <div class="row">
        <div class="col-sm">
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
            {{error}}
          </div>
        <form  [formGroup]="modifyForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Название</label>
            <input type="text" formControlName="title" class="form-control" id="title" required placeholder="Введите название">
          </div>
          <mat-form-field>
            <mat-label>Тип</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of types" [value]="type.id">
                {{type.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Владелец</mat-label>
            <mat-select formControlName="owner">
              <mat-option *ngFor="let item of owners" [value]="item.id">
                {{item.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngFor="let field of fields; let i = index">
              <mat-form-field>
                <mat-label>{{field.name}}</mat-label>
                <ng-container *ngIf="field.type == 'text'">
                    <input matInput type="text" [formControlName]="field.id" class="form-control" />
                </ng-container>
                <ng-container *ngIf="field.type == 'checkbox'">
                  <label><input type="checkbox" class="form-control" formControlName="field.id[k]" *ngFor="let value of field.values; let k = index" value="k"> {{value}}</label>
                </ng-container>
                <ng-container *ngIf="field.type == 'dropdown'">
                  <mat-select [formControlName]="field.id">
                    <mat-option *ngFor="let value of field.values; let k = index" [value]="index">
                      {{value}}
                    </mat-option>
                  </mat-select>
                </ng-container>
                <ng-container *ngIf="field.type == 'area'">
                  <textarea [formControlName]="field.id"></textarea>
                </ng-container>
              </mat-form-field>
          </ng-container>
          <button type="submit" class="btn btn-primary">{{isnew ? 'Добавить' : 'Отредактировать'}}</button>
        </form>
      </div>
  </div>
</div>