<div class="container">
    <div class="row">
        <div class="col-sm">
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
            {{error}}
          </div>
        <form  [formGroup]="modifyForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Название</label>
            <input type="text"  formControlName="title" class="form-control" id="title" required placeholder="Введите название">
          </div>
          <div class="form-group">
            <label for="title">Email</label>
            <input type="text"  formControlName="email" class="form-control" id="email" required placeholder="Введите email">
          </div>
          <div class="form-group">
            <label for="title">Телефон</label>
            <input type="text"  formControlName="phone" class="form-control" id="phone" required placeholder="Введите телефон">
          </div>
          <div class="form-group">
            <label for="title">Юридический адрес</label>
            <input type="text"  formControlName="legal" class="form-control" id="legal" required placeholder="Введите юридический адрес">
          </div>
          <button type="submit" class="btn btn-primary">{{isnew ? 'Добавить' : 'Отредактировать'}}</button>
        </form>        
      </div>
  </div>
</div>