<div class="container">
    <div class="row">
        <div class="col-sm">
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
            {{error}}
          </div>
        <form  [formGroup]="modifyForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Название</label>
            <input type="text" matInput formControlName="title" class="form-control" id="title" required placeholder="Введите название">
          </div>
          <mat-form-field>
            <mat-label>Тип</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let item of types" [value]="item.key">
                {{item.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Материал</mat-label>
            <mat-select formControlName="constType">
              <mat-option *ngFor="let item of constTypes" [value]="item.key">
                {{item.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="form-group">
            <label for="title">Год изготовления</label>
            <input type="text" matInput formControlName="constYear" class="form-control" id="constYear" placeholder="Введите год изготовления">
          </div>
          <div class="form-group">
            <label for="title">Износ</label>
            <input type="text" matInput formControlName="depreciation" class="form-control" id="depreciation" placeholder="Введите износ">
          </div>          
          <mat-form-field>
            <mat-label>Владелец</mat-label>
            <mat-select formControlName="owner">
              <mat-option *ngFor="let item of owners" [value]="item.id">
                {{item.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button type="submit" class="btn btn-primary">{{isnew ? 'Добавить' : 'Отредактировать'}}</button>
        </form>        
      </div>
  </div>
</div>