
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{title}}</h1>
</div>
<button type="button" class="btn btn-primary" (click)="AddTrip()" [disabled]="disabled">Добавить трубу</button>
<br /><br />
<div class="alert alert-{{notification.type}}" role="alert" *ngIf="notification.show">
    {{notification.notice}}
</div>

<div id="map"></div>

<div class="row">
    <div class="col-sm-3" *ngFor="let item of items">
        {{item.title}}
    </div>
</div>
