<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a [routerLink]="['/']"><img src="/assets/logo.png"/></a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" [routerLink]="['/pointtype']">Типы оборудования</a>
      <a class="p-2 text-dark" [routerLink]="['/owner']">Владельцы</a>
      <a class="p-2 text-dark" [routerLink]="['/point']">Объекты инфраструктуры</a>
      <a class="p-2 text-dark" [routerLink]="['/sensor']">Датчики</a>
      <a class="p-2 text-dark" [routerLink]="['/pipe']">Трубы</a>
  </nav>
</div>