
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{title}}</h1>
</div>
<button type="button" class="btn btn-primary" (click)="AddTrip()" [disabled]="disabled">Добавить объект</button>
<br />
<br />
<div class="alert alert-{{notification.type}}" role="alert" *ngIf="notification.show">
    {{notification.notice}}
</div>

<div id="map"></div>

<div class="row">
    <table style="width:100%">
        <tr>
            <th>Название</th>
            <th>Тип</th>
            <th>Владелец</th>
            <th colspan="2"></th>
        </tr>
        <tr *ngFor="let item of items">
            <td>{{item.title}}</td>
            <td>{{item.type.title}}</td>
            <td>{{item.owner.title}}</td>
            <td><a href="#" (click)="Edit($event, item)">редактировать</a></td>
            <td><a href="#" (click)="Delete($event, item)">удалить</a></td>
        </tr>
    </table>
</div>
