
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{title}}</h1>
</div>

<button type="button" class="btn btn-primary" (click)="AddTrip()">Добавить тип оборудование</button>

<div class="alert alert-{{notification.type}}" role="alert" *ngIf="notification.show">
    {{notification.notice}}
</div>


<div class="row">
    <div class="col-sm-3" *ngFor="let pointtype of pointtypes">
        {{pointtype.title}}
    </div>
</div>
